.video__button {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 0;
  width: 64px;
  height: 64px;
  border: none;
  background-color: transparent;
  transform: translate(-50%, -50%);
  outline: none;
  display: none;
}
