@import url('./__name/card-person__name.css');
@import url('./__about/card-person__about.css');

.card-person {
  box-sizing: border-box;
  max-width: 210px;
  cursor: pointer;
}

.card-person:first-of-type {
  margin-left: 25px;
}

@media (max-width:768px) {
  .card-person:first-of-type {
    margin-left: 0;
  }
}
