.header__logo {
  display: inline-block;

  min-width: 43px;
  height: 35px;
  background-image: url('../../../images/headerLogo.svg');
  background-repeat: no-repeat;
  cursor: pointer;
  transition: all .5s ease-in-out;
}

.header__logo:hover {
  opacity: .8;
}
