.plays__cards {
  box-sizing: border-box;
  display: flex;
  gap: 30px;
  padding: 0;
  margin: 48px 0 0 0;
  list-style: none;
  overflow-x: scroll;
}

/* высота для горизонтального скролла */
.plays__cards::-webkit-scrollbar {
  cursor: pointer;
  height: 8px;
  background-color: var(--main-bg-color);
}

/* ползунок скроллбара */
.plays__cards::-webkit-scrollbar-thumb {
  background-color: var(--main-accent-color);
  border-radius: 9em;
  /* box-shadow: inset 1px 1px 10px #f3faf7; */
}

.plays__cards::-webkit-scrollbar-thumb:hover {
  background-color: #27754a;
}

@media (max-width:1000px) {
  .plays__cards {
    margin: 32px 0 0 0;
  }
}
