@import url('./__title/partnership__title.css');
@import url('./__span/partnership__span.css');
@import url('./__article/partnership__article.css');
@import url('./__paragraph/partnership__paragraph.css');
@import url('./__email/partnership__email.css');

.partnership {
  display: flex;
  justify-content: flex-end;
  padding: 0 232px 0 25px;
  margin-top: 74px;
}

@media (max-width: 765px) {
  .partnership {
    padding: 25px;
  }
}
