.videos__title {
  font-family: 'Neue Machina';
  font-size: 28px;
  line-height: 32px;
  letter-spacing: -0.01em;
  margin: 0 auto 32px;
  max-width: 366px;
  white-space: pre-line;
}

@media screen and (min-width: 768px) {
  .videos__title {
    font-size: 40px;
    line-height: 40px;
    max-width: 716px;
  }
}
