.footer__copyrights-text {
  margin-block-start: 0;
  margin-block-end: 0;
  font-family: 'Formular';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px; /* identical to box height, or 121% */
  color: #242424;
}
