.header__items {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  width: 100%;
  margin-left: 33px;
  align-items: center;
}

@media (max-width: 1320px) {
  .header__items {
    margin-left: 0;
  }
}

@media (max-width: 1040px) {
  .header__items {
    justify-content: space-evenly;
  }
}

@media (max-width: 600px) {
  .header__items {
    display: none;
  }
}
