.footer__partners {
  grid-area: b;
  width: 100%;
  border-bottom: 1px solid var(--main-text-color);
  padding-bottom: 48px;
  padding-top: 71px;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1024px) {
  .footer__partners {
    padding-bottom: 0px;
    padding-top: 48px;
    border-bottom: hidden;
    flex-direction: row;
  }
}
/*
@media screen and (min-width: 1440px) {
  .footer__partners {
    padding-bottom: 0px;
    padding-top: 48px;
    border-bottom: hidden;
    flex-direction: row;
  }
} */
