.footer__partners-item_type_two {
  margin-top: 12px;
}

@media screen and (min-width: 1440px) {
  .footer__partners-item_type_two {
    margin-top: 0;
  }
}

.footer__partners-item_type_four {
  margin-top: 5px;
}

@media screen and (min-width: 1440px) {
  .footer__partners-item_type_four {
    margin-top: 0;
  }
}
