.about-project__title {
  box-sizing: border-box;
  margin-top: 56px;
  margin-left: 24px;
}

@media screen and (min-width: 768px) {
  .about-project__title {
    margin-left: 80px;
  }
}

@media screen and (min-width: 1024px) {
  .about-project__title {
    justify-self: start;
    margin-top: 79px;
    margin-left: 260px;
  }
}

@media screen and (min-width: 1280px) {
  .about-project__title {
    margin-left: 360px;
  }
}
