.performance {
  padding: 32px 24px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: relative;
}
.performance::after {
  position: absolute;
  bottom: 0;
  left: -24px;
  content:"";
  height: 1px;
  width: 415px;
  background-color: var(--main-text-color);
}
@media screen and (min-width: 847px) {
  .performance {
    max-width: 370px;
    gap: 16px;
  }
  .performance::after {
    left: auto;
    top: 32px;
    right: 0;
    height: 268px;
    width: 1px;
  }
  .performance:last-child::after {
    height: 0;
    width: 0;
  }
}
