.persons__title {
  margin: 0 0 0 25%;
  font-family: 'Neue Machina';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.01em;
  color: var(--main-text-color);
  max-width: 358px;
}


@media (max-width: 768px) {
  .persons__title {
    margin-left: 0;
    font-size: 28px;
    line-height: 32px;
  }
}
