.card-person__name {
  font-family: 'Neue Machina';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: -0.01em;
  color: var(--main-text-color);
  margin: 16px 0 0 0;
}
