.footer__copyrights-group {
  display: flex;
  flex-direction: column;
}

.footer__copyrights-group_one {
  gap: 29px;
  margin-bottom: 59px;
}

@media screen and (min-width: 1440px) {
  .footer__copyrights-group_one {
    flex-direction: row;
  }
}

.footer__copyrights-group_two {
  margin-bottom: 16px;
  display: flex;
  flex-direction: row;
  gap: 9px;
}

.footer__copyrights-group_subgroup {
  display: flex;
  flex-direction: column;
}

.footer__copyrights-group_two_and_three {
  display: flex;
  gap: 30px
}

@media screen and (min-width: 1440px) {
  .footer__copyrights-group_two_and_three {
    padding-right: 75px;
  }
}

