.performances__heading {
  padding-left: 24px;
  margin: 0;
  font-family: 'Neue Machina';
  font-style: normal;
  font-weight: 400;
  max-width: 300px;
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: -0.01em;
}
@media screen and (min-width: 768px) {
  .performances__heading {

    max-width: 400px;
    font-size: 40px;
    line-height: 1;
  }
}
