@import url("../vendor/normalize.css");
@import url("../vendor/fonts/fonts.css");
@import url("../blocks/page/page.css");
@import url("../blocks/header/header.css");
@import url("../blocks/footer/footer.css");

@import url("../blocks/button-link/button-link.css");
@import url("../blocks/button-link/_arrow/button-link_arrow.css");
@import url('../blocks/button-link/_arrow/_left/button-link_arrow_left.css');
@import url('../blocks/button-link/_arrow/_right/button-link_arrow_right.css');

@import url('../blocks/persons/persons.css');
@import url('../blocks/card-person/card-person.css');
