@import url("../vendor/normalize.css");
@import url("../vendor/fonts/fonts.css");
@import url("../blocks/page/page.css");
@import url("../blocks/header/header.css");
@import url("../blocks/performances/performances.css");
@import url("../blocks/performances/_custom/performances_custom.css");
@import url("../blocks/performances/__title/performances__title.css");
@import url("../blocks/performances/__title/_custom/performances__title_custom.css");
@import url("../blocks/performances/__group/performances__group.css");
@import url("../blocks/performance/performance.css");
@import url("../blocks/performance/__overview/performance__overview.css");
@import url("../blocks/performance/__image/performance__image.css");
@import url("../blocks/performance/__setting/performance__setting.css");
@import url("../blocks/performance/__description/performance__description.css");
@import url("../blocks/performance/__heading/performance__heading.css");
@import url("../blocks/performance/__read/performance__read.css");
@import url("../blocks/performance/__buttons/performance__buttons.css");
@import url("../blocks/footer/footer.css");

@import url("../blocks/button-link/button-link.css");
@import url("../blocks/button-link/_arrow/button-link_arrow.css");
@import url('../blocks/button-link/_arrow/_left/button-link_arrow_left.css');
@import url('../blocks/button-link/_arrow/_right/button-link_arrow_right.css');
