.footer__content {
  position: relative;

  display: grid;
  grid-template:
    "a"
    "b"
    "c";
}

@media screen and (min-width: 1024px) {
  .footer__content {
    width: calc(100% - 174.81px);

    grid-template:
      "b"
      "a"
      "c";
  }
}
