.footer__list-item {
  list-style: none;
  font-family: 'Formular';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 23px;
  /* identical to box height, or 128% */
  font-feature-settings: 'ss01' on;
  color: #242424;
  margin-bottom: 13px;
}
