.button-link {
  box-sizing: border-box;
  display: inline-block;
  min-width: 115px;
  max-width: 154px;
  color: var(--main-text-color);
  cursor: pointer;
  font-family: 'Formular';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 14px;
  text-transform: uppercase;
  text-decoration: none;
  transition: all .5s ease-in;
  background-image: linear-gradient(var(--main-text-color), var(--main-text-color));
  position: relative;
  z-index: 1;
}

.button-link:hover {
  color: var(--main-white-color);
  background-size: 100% 100%;
}

.button-link::after {
  transition: all .5s ease-out;
  background-color: inherit;
  top: 0;
  left: 0;
  content: "";
  display: block;
  background-color: var(--main-text-color);
  ;
  width: 100%;
  height: 100%;
}

.button-link:active::after {
  position: absolute;
  z-index: -1;
  transform: scale(1.2);
}
