.performances__group {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 1fr);
}
@media screen and (min-width: 550px) {
  .performances__group {
    justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .performances__group {
    grid-template-columns: repeat(auto-fit, minmax(415px, 450px));
    row-gap: 70px;
  }
}
