.partnership__title {
  font-family: 'Neue Machina';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 38px;
  letter-spacing: -0.01em;
  color: var(--main-text-color);
  max-width: 516px;
  margin: 26px 0 0 27px;
}

@media (max-width: 765px) {
  .partnership__title {
    font-size: 28px;
    line-height: 32px;
    margin: 36px 0 0 28px;
  }
}
