.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 10px 0 30px;
  border-bottom: 1px solid #242424;
  min-height: 54px;
  background-color: var(--main-bg-color);
}

@media (max-width: 1320px) {
  .header {
    padding: 0;
  }
}

@media (max-width: 600px) {
  .header {
    padding: 30px 24px 0 24px;
    justify-content: flex-start;
    gap: 19px;
    border: none;
  }
}
