.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 11px 20px 0px 30px;
  font-family: 'Formular';
  font-style: normal;
  border-bottom: 1px solid #242424;
}
